.welcome,
.profile {
  text-align: center;
}
.avatar {
  width: 250px;
  height: 250px;
  border: 1px solid grey;
  border-radius: 50%;
  margin-top: 2rem;
}
.name {
  font-size: 1.75rem;
  margin: 1rem 0 0.5rem;
}
.job {
  font-size: 1.5rem;
  font-weight: lighter;
}
.introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.text {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.8;
}
.slogan {
  color: var(--accent-color);
  font-size: 1.25rem;
}
.compare {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
  list-style: circle;
  font-family: var(--font-family-code);
}

@media screen and (max-width: 1023px) {
  .introduce {
    flex-direction: column;
  }
  .avatar {
    width: 200px;
    height: 200px;
  }
  .text {
    font-size: 1rem;
  }
}
