.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 54px);
  background: var(--main-bg);
}
.section {
  width: calc(100% - 220px);
}
.article {
  height: calc(100% - 36px);
  padding: 2rem;
}
