.main {
  display: flex;
  width: 100%;
  height: calc(100vh - 54px);
  background: var(--main-bg);
}
.section {
  width: calc(100% - 220px);
}
.article {
  height: calc(100% - 36px);
  padding: 2rem;
  overflow-y: auto;
}

@media screen and (max-width: 958px) {
  .article {
    height: calc(100% - 44px); /* 스크롤바 계산 */
  }
}
@media screen and (max-width: 768px) {
  .section {
    width: calc(100% - 48px);
  }
  .article {
    padding: 1rem;
  }
}
