.explorer {
  width: 172px;
  background: var(--explorer-bg);
  color: var(--explorer-text-color);
}
.title {
  height: 36px;
  line-height: 36px;
  padding: 0 1.25rem;
  font-size: var(--font-small);
  border-bottom: 1px solid var(--explorer-border-color);
}
.workspace {
  display: flex;
  align-items: center;
  column-gap: 0.1rem;
  height: 30px;
  line-height: 30px;
  padding: 0 0.2rem;
  font-size: var(--font-small);
  text-transform: uppercase;
}
.file {
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
  height: 26px;
  color: var(--explorer-text-color);
  font-size: var(--font-small);
  padding: 0.3rem 0.5rem;
}
.file:hover {
  background: var(--explorer-active-bg);
}
.active {
  background: var(--explorer-active-bg);
}
.name {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .explorer {
    display: none;
  }
}
