.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.visual {
  fill: var(--home-visual-fill);
}
.title {
  padding-right: 0.2em;
  border-right: 4px solid var(--accent-color);
  white-space: nowrap;
  animation: blickCursor 1000ms step-end 1500ms infinite;
}
@keyframes blickCursor {
  50% {
    border-right: 4px solid transparent;
  }
}
.sub_title {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-family-code);
  line-height: 1.4;
  margin: 2rem 0;
}
.link_wrap {
  display: flex;
  gap: 1rem;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
}
.link:first-child {
  background: var(--accent-color);
}
.link:last-child {
  border: 2px solid var(--accent-color);
}
.link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1023px) {
  .sub_title {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .sub_title {
    font-size: 1rem;
  }
  .link {
    width: 120px;
    height: 48px;
    font-size: 1rem;
  }
}
