.navbar {
  display: flex;
  background: var(--navbar-bg);
}
.tab {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  height: 36px;
  background: var(--tab-bg);
  color: var(--tab-text-color);
  font-size: var(--font-small);
  white-space: nowrap;
  padding: 0 1rem;
  border-top: 1px solid transparent;
  border-right: 1px solid var(--tab-border-color);
  cursor: pointer;
}
