.filter_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.4rem 2rem;
  background: var(--accent-color);
  color: var(--text-color);
  filter: grayscale(100%);
  transition: filter 300ms, color 300ms;
  font: bold 1.125rem var(--font-family-code);
  text-transform: uppercase;
  border-radius: 2rem;
}
.filter:hover,
.selected {
  filter: grayscale(0);
}
.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .filter {
    width: 100%;
  }
}
