.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
}
.contact {
  text-align: center;
}
.photo {
  background: url('../../public/images/profile.jpg') no-repeat 50% 30% / cover;
  width: 300px;
  height: 300px;
  animation: rotate 600ms ease-in-out forwards;
}
.name {
  color: var(--accent-color);
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  margin-bottom: 0.7rem;
  transition: color 300ms;
}
.social:hover:not(:last-of-type) {
  color: var(--accent-color);
}
.pharase {
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
  line-height: 1.4;
}
.text {
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}
.social:last-of-type .text {
  cursor: default;
}
.icon {
  display: flex;
  font-size: 1.25rem;
}

@keyframes rotate {
  0% {
    border-radius: none;
  }
  100% {
    border-radius: 50%;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    flex-direction: column;
    margin-top: 4rem;
  }
  .photo {
    width: 200px;
    height: 200px;
  }
  .pharase {
    font-size: 1.125rem;
  }
  .text {
    font-size: 1rem;
  }
}
