.container {
  position: fixed;
  top: 6rem;
  right: 2rem;
}
.popup {
  position: relative;
  width: 300px;
  background: var(--text-color);
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  color: #252525;
  font-weight: 500;
  cursor: pointer;
  animation: mount 600ms ease-in-out;
}
.message {
  margin-bottom: 0.5rem;
}
.description {
  font-size: 0.875rem;
}
.close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

@keyframes mount {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
