@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-bg: #3c3c3c;
  --header-text-color: #cfcfd0;
  --aside-text-color: #ced4da;
  --sidebar-bg: #333333;
  --sidebar-active-bg: transparent;
  --sidebar--active-border: #ffffff;
  --explorer-bg: #252526;
  --explorer-hover-bg: #2a2d2e;
  --explorer-active-bg: #37373d;
  --explorer-border-color: #333333;
  --navbar-bg: #252526;
  --tab-bg: #2d2d2d;
  --tab-active-color: transparent;
  --tab-border-color: #252526;
  --tab-text-color: #969696;
  --tab-active-text: #ffffff;
  --main-bg: #1e1e1e;
  --home-visual-fill: #171717;
  --project-bg: #252526;
  --theme-btn-bg: #176f2c;
  --footer-bg: #007acc;
  --text-color: #efefef;
  --accent-color: #0066b7;

  --font-small: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable';
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
a {
  text-decoration: none;
}
