/* Variable */
:root {
  /* Color */
  --header-bg: #3c3c3c;
  --header-text-color: #cfcfd0;
  --sidebar-bg: #333333;
  --sidebar-active-bg: transparent;
  --sidebar--active-border: #ffffff;
  --explorer-bg: #252526;
  --explorer-active-bg: #37373d;
  --explorer-border-color: #333333;
  --explorer-text-color: #ced4da;
  --navbar-bg: #252526;
  --item-bg: #2d2d2d;
  --item-text-color: #969696;
  --item-border-color: #252526;
  --item-active-text: #ffffff;
  --item-active-border: transparent;
  --main-bg: #1e1e1e;
  --home-visual-fill: #171717;
  --project-bg: #252526;
  --theme-btn-bg: #176f2c;
  --footer-bg: #007acc;
  --text-color: #efefef;
  --accent-color: #0066b7;
  --scrollbar-bg: #424242;
  --scrollbar-hover-bg: #4f4f4f;

  /* Font */
  --font-family-pretendard: 'Pretendard Variable';
  --font-family-code: 'IBM Plex Mono';
  --font-small: 0.875rem;
}

[data-theme='dracula'] {
  --header-bg: #191a21;
  --header-text-color: #f8f8f2;
  --sidebar-bg: #343746;
  --sidebar-active-bg: #3c3d51;
  --sidebar--active-border: #ff79c6;
  --sidebar-icon-color: #6272a4;
  --explorer-bg: #21222c;
  --explorer-hover-bg: #313341;
  --explorer-active-bg: #313341;
  --explorer-border-color: transparent;
  --navbar-bg: #191a21;
  --item-bg: #21222c;
  --item-text-color: #6272a4;
  --item-active-color: #ff79c6;
  --item-border-color: #191a21;
  --item-active-text: #f8f8f2;
  --main-bg: #282a36;
  --home-visual-fill: #1c1d26;
  --project-bg: #21222c;
  --footer-bg: #191a21;
  --accent-color: #ff79c6;
  --theme-btn-bg: #44475a;
  --scrollbar-bg: #484950;
  --scrollbar-hover-bg: #525356;
}

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  font-family: var(--font-family-pretendard);
  user-select: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
}
h1 {
  font: bold 3rem / 100% var(--font-family-code);
  height: 48px;
}
h2 {
  font: bold 3rem var(--font-family-code);
  text-align: center;
  margin-bottom: 0.5em;
}
h3 {
  font-weight: bold;
  font-size: 2rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-bg);
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Responsive */
@media screen and (max-width: 1023px) {
  h1 {
    height: 40px;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    height: 24px;
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
